th.centered {font-size:11px;}
.centered {text-align:center; padding:4px 6px;}
.remove {background-color:lightsalmon;}
fieldset.sudo-users div.description {padding:10px 10px 20px; font-weight:bold; max-width:400px;}
